@charset "UTF-8";
@media all and (min-width:768px) {
/* 공통사항 시작 */
ul {
text-align:center;
}
/* 공통사항 끝 */

/* 헤더영역 시작 */
.menu-toggle-btn {
display:none;
}
.header .gnb {
display:block;
position:static;
background:none;
width:auto;
float:right;
margin-top:10px;
}
.header .gnb li {
float:left;
border:none;
/*width:95px;*/
}
.header .gnb li:last-child {
border-bottom:none;
}
.header .gnb li a {
display:inline-block;
color:#3f51b5;
padding-left:0px;
margin-right:30px;
}
.header .gnb li a:hover {
text-decoration:none;
}
/* 헤더영역 끝 */

/* 슬라이드영역 시작 */
.carousel-item, .carousel-item img {
height:500px;
}
/* 슬라이드영역 끝 */

/* we are 영역 시작 */
.float-clear {
clear:both;
}
.weare-section li {
float:left;
width:23.046875%;
margin-left:2.604166%;
overflow:hidden;
}
.weare-body li img {
width:100%;
height:auto;
}
.weare-body {
margin:10px 3%;
}
.weare-body li:first-child {
margin-left:0px;
}
/* we are 영역 끝 */

/* work 영역 시작 */
.work-section li {
float:left;
width:50%;
max-height:300px;
overflow:hidden;
}
/* work 영역 끝 */

/* blog 영역 시작 */
.blog-section li {
float:left;
width:31.59722%;
margin-left:2.604166%;
height:300px;
border:1px solid #ccc;
}
.blog-section li .preview {
height:200px;
overflow:hidden;
/*max-height:200px;*/
/*min-height:200px;*/
}
.blog-section li .info2 {
padding:10px
}
.blog-section li:first-child {
margin-left:0;
}
.blog-section li:nth-child(3n+1) {
margin-left:0;
}
.blog-section hr {
display:none;
}
/* blog 영역 끝 */

/* contact 영역 시작 */
.input-class, .textarea-class {
float:left;
width:49%;
}
.input-class {
margin-right:2%;
}
.contact-section form textarea {
min-height:120px;
}
/* contact 영역 끝 */
}